{{!-- <div class="container pt-200">
    <h1> hello hello hello </h1>
</div> --}}


<style>
    .cart-table-content table thead>tr th {
        padding: 12px 33px 22px;
    }

    .cart-table-content table tbody>tr td.product-wishlist-cart>a {
        background-color: #3143b7;
    }

    .cart-table-content table tbody>tr td.product-wishlist-cart> div button {
        color: white;
        border-style: none;
        border-color: #3143b7;
        background-color: #3143b7;
    }

</style>


<div class="cart-main-area pt-200 pb-120">
    <div class="container">
        <h3 class="cart-page-title">Your Wallet History</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="table-content table-responsive cart-table-content">
                    {{!-- <div class="table"> --}}
                        <table>
                            <thead>
                                <tr>
                                    <th>No </th>
                                    <th>Date</th>
                                    <th>Transaction Status </th>
                                    <th>Order Total</th>
                                    <th>Amount Usd Wllt</th>
                                    <th>Invoice/OrdrId</th>
                                    {{!-- <th>View Product</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ordersW}}
                                <tr>
                                    <td>{{inc @index}}</td>

                                    <td class="product-thumbnail">
                                        <a href="#">{{this.date}}</a>
                                    </td>
                                 
                                    <td class="product-name">
                                        {{#if this.orderwalletStatus}}
                                            CREDITED
                                        {{else}}
                                            DEBITED
                                        {{/if}}



                                    </td>
                                    <td class="product-quantity pro-details-quality">₹{{this.totalofOrder}}</td>

                                    <td class="product-quantity pro-details-quality">
                                        

                                        {{#if this.orderwalletStatus}}
                                            +{{this.totalofOrder}}
                                        {{else}}
                                            -{{this.amountusedfromWallet}}
                                        {{/if}}
                                        
                                        </td>

                                    <td class="product-wishlist-cart"><a href="/invoice/{{this.orderId}}">Invoice</a></td>


                                    {{!-- <td class="product-wishlist-cart"> --}}
                                        {{!-- <div class="grand-totall bg-white border-0"><a href="">View Products</a>
                                            --}}
                                            {{!-- <a href="/view-order-products/{{this._id}}">View Products</a></td> --}}
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

